:root {
    --background-color: #f5f5f5;
    --title-color: #212121;
    --font-color: #f5f5f5;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-basis: 30%;
    user-select: none;
}

.nav .title span {
    font-size: 5em;
    font-weight: 900;
    animation: popout 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}

.nav .title span:nth-child(3) {
    animation-delay: -0.1666666667s;
}

.nav .title span:nth-child(2) {
    animation-delay: -0.3333333333s;
}

.nav .title span:nth-child(1) {
    animation-delay: -0.5s;
}

.content {
    display: flex;
    flex-basis: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 85%;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    border-radius: 2%;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.card:hover {
    cursor: pointer;
}

.card:active {
    transition: transform 0.2s ease;
    transform: scale(0.9);
}

.card span {
    color: var(--font-color);
    user-select: none;
}

.card .card__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex-basis: 100%;
    padding: 1em;
}

.card__title, .card__desc {
    display: flex;
    width: 100%;
} 

.card .card__title span {
    min-width: 100%;
    width: 100%;
    word-wrap: break-word;
    font-weight: 800;
    font-size: 1.4em;
    text-shadow: 2px 2px 0 #212121;
}

.card .card__desc span{
    font-weight: 400;
    text-shadow: 1px 1px 0 #212121;
}

.pagination {
    display: flex;
    flex-basis: 15%;
    width: 100%;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.current {
    padding: 0 .5em;
}

.pagination a {
    padding: 0 .3em;
}


@keyframes popout {
    0% {
        transform: translate3d(0, 0, 0);
        text-shadow: 0em 0em 0 lightblue;
        color: var(--title-color);
    }
    30% {
        transform: translate3d(0, 0, 0);
        text-shadow: 0em 0em 0 lightblue;
        color: var(--title-color);
    }
    70% {
        transform: translate3d(0.08em, -0.08em, 0);
        text-shadow: -0.08em 0.08em lightblue;
        color: var(--title-color);
    }
    100% {
        transform: translate3d(0.08em, -0.08em, 0);
        text-shadow: -0.08em 0.08em lightblue;
        color: var(--title-color);
    }
}